body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #0f3057;
    overflow: hidden;
}

.game {
    display: grid;
    text-align: center;
}

.gameboard {
    margin: auto;
}

.row {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.card {
    padding: 0.2rem;
    position: relative;
    height: 2rem;
    width: 2rem;
}

.side {
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 700ms ease;
    background-color: #00587a;
}

.side.front {
    background-color: #0e273f;
}


.card .side.front {
    transform: rotateY(-180deg);
}

.card .side {
    transform: rotateY(0);
}

.dot {
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
}

.actions-bar {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

h1 {
    color: white;
    font-family: cursive;
}

button {
    color: #008891;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    box-shadow: 0.3em 0.3em 0 0 #008891, inset 0.3em 0.3em 0 0 #008891;
}

button:hover,
button:focus {
    cursor: pointer;
    border-color: #1973bc;
    color: #fff;
    box-shadow: 0 0 0 0 #1973bc, inset 6em 3.5em 0 0 #1973bc;
}